---
import Layout from "@/layouts/Layout.astro";
import Toggle from "@/components-ui/Toggle.astro";
import Title from "@/components-ui/Title.astro";
import Subtitle from "@/components-ui/Subtitle.astro";
---

<Layout title="Toggle">
  <Title>Toggle</Title>

  <section class="mt-5">
    <Subtitle>Colors</Subtitle>
    <div class="flex flex-col gap-2">
      <Toggle type="primary">primary</Toggle>
      <Toggle type="secondary">secondary</Toggle>
      <Toggle type="accent">accent</Toggle>
      <Toggle type="neutral">neutral</Toggle>
    </div>

    <Subtitle>Sizes</Subtitle>

    <Subtitle>With Icon</Subtitle>
  </section>
</Layout>
