---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components-ui/Button.astro";
import HomeIcon from "@/icons/Home.astro";
---

<Layout title="Whatever UI - 404 Not Found">
  <section class="flex flex-col items-center justify-center mt-40 space-y-5">
    <h1 class="text-3xl font-bold">404 - Not Found</h1>
    <p>Sorry, the page you're looking for could not be found.</p>
    <Button href="/">
      <HomeIcon slot="before" />
      <span>Go Home</span>
    </Button>
  </section>
</Layout>
