---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components-ui/Title.astro";
---

<Layout title="Credits">
  <Title>Credits</Title>

  <ul>
    <li class="mb-3">
      Whatever UI, created by <a
        class="underline"
        href="https://github.com/joacod"
        target="_blank"
        rel="noopener noreferrer"
        title="Joaquin Diaz on GitHub"
      >
        Joaquin Diaz
      </a>
      🖖
    </li>
    <li>
      Icon, favicon by <a
        class="underline"
        href="https://www.freepik.com/icon/construction_852907#fromView=search&term=blocks&page=2&position=39&uuid=8a4ea6f6-8c86-4d87-921e-6a5ecf63d022"
        target="_blank"
        rel="noopener noreferrer"
        title="Confused icon on Freepik"
      >
        Freepik
      </a>
    </li>
    <li>
      Prototype of the layout, created with <a
        class="underline"
        href="https://tailblocks.cc/"
        target="_blank"
        rel="noopener noreferrer"
        title="Tailblocks website"
      >
        Tailblocks
      </a>
    </li>
    <li>
      Neutral color palette, from <a
        class="underline"
        href="https://colorhunt.co/palette/352f445c5470b9b4c7faf0e6"
        target="_blank"
        rel="noopener noreferrer"
        title="Color Hunt color palette"
      >
        Color Hunt
      </a>
    </li>
    <li>
      Status color palette, from <a
        class="underline"
        href="https://colorhunt.co/palette/eb5353f9d92336ae7c187498"
        target="_blank"
        rel="noopener noreferrer"
        title="Color Hunt color palette"
      >
        Color Hunt
      </a>
    </li>
  </ul>
</Layout>
