---
import Layout from "@/layouts/Layout.astro";
import Badge from "@/components-ui/Badge.astro";
---

<Layout title="Colors">
  <h1 class="text-4xl">Colors</h1>

  <h2 class="mt-5 text-xl text-primary">Primary</h2>
  <p class="text-primary">primary</p>
  <p class="bg-primary text-primary-content">primary-content</p>
  <p class="text-primary-focus">primary-focus</p>
  <p class="text-primary-active">primary-active</p>

  <h2 class="mt-5 text-xl text-secondary">Secondary</h2>
  <p class="text-secondary">secondary</p>
  <p class="bg-secondary text-secondary-content">secondary-content</p>
  <p class="text-secondary-focus">secondary-focus</p>
  <p class="text-secondary-active">secondary-active</p>

  <h2 class="mt-5 text-xl text-accent">Accent</h2>
  <p class="text-accent">accent</p>
  <p class="bg-accent text-accent-content">accent-content</p>
  <p class="text-accent-focus">accent-focus</p>
  <p class="text-accent-active">accent-active</p>

  <h2 class="mt-5 text-xl">Neutral</h2>
  <p class="text-neutral bg-neutral-content">neutral</p>
  <p class="bg-neutral text-neutral-content">neutral-content</p>
  <p class="text-neutral-focus">neutral-focus</p>
  <p class="text-neutral-active">neutral-active</p>

  <h2 class="mt-5 text-xl">Status</h2>
  <p class="text-success">success</p>
  <p class="bg-success text-success-content">success-content</p>
  <p class="text-warning">warning</p>
  <p class="bg-warning text-warning-content">warning-content</p>
  <p class="text-error">error</p>
  <p class="bg-error text-error-content">error-content</p>
  <p class="text-info">info</p>
  <p class="bg-info text-info-content">info-content</p>
</Layout>
