---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components-ui/Title.astro";
import Subtitle from "@/components-ui/Subtitle.astro";
---

<Layout title="Fonts">
  <Title>Fonts</Title>

  <Subtitle>Title</Subtitle>

  <Subtitle>Main</Subtitle>
</Layout>
