---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components-ui/Title.astro";
import Subtitle from "@/components-ui/Subtitle.astro";
---

<Layout title="Fonts">
  <Title>Fonts</Title>

  <Subtitle>Display (Comfortaa)</Subtitle>
  <p class="font-display">
    <strong>Comfortaa</strong> is used as the <strong>display</strong> font.
  </p>
  <p class="font-display">
    Display fonts should be used for larger, attention-grabbing text, such as
    headings, titles, and other prominent elements on the webpage.
  </p>

  <h2 class="mt-8 mb-2 text-2xl">Body (Exo)</h2>
  <p><strong>Exo</strong> is used as the <strong>body</strong> font.</p>
  <p>
    Body fonts should be used for smaller text, such as paragraphs, lists, and
    other elements that are not as prominent as headings.
  </p>
</Layout>
