---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components-ui/Title.astro";
import Subtitle from "@/components-ui/Subtitle.astro";
---

<Layout title="Fonts">
  <Title>Fonts</Title>

  <Subtitle>Display</Subtitle>
  <p class="font-display">Comfortaa is used as the display font.</p>

  <Subtitle>Body</Subtitle>
</Layout>
