---

---

<footer
  class="flex items-center justify-center p-3 text-center bg-neutral text-neutral-content"
>
  <p class="mr-1">&copy; 2024 -</p>
  <a
    href="https://github.com/joacod/whateverui"
    class="underline hover:text-violet-200"
    target="_blank"
  >
    Whatever UI
  </a>
</footer>
