---

---

<footer
  class="flex items-center justify-center p-3 text-sm text-center opacity-90 bg-neutral text-neutral-content"
>
  <p class="mr-3">&copy; 2024</p>
  <img src="../../whateverui.png" width="20" height="20" />
  <a
    href="https://github.com/joacod/whateverui"
    class="ml-3 underline hover:text-white"
    target="_blank"
  >
    Whatever UI
  </a>
</footer>
