---
import Button from "@/components-ui/Button.astro";
import HomeIcon from "@/icons/Home.astro";
import GithubIcon from "@/icons/Github.astro";
import ClipboardIcon from "@/icons/Clipboard.astro";
---

<header
  class="sticky top-0 z-10 flex justify-between w-full h-20 p-5 text-center shadow-lg bg-neutral text-neutral-content opacity-90"
>
  <div class="flex items-center justify-start space-x-2">
    <Button href="/" type="primary">
      <HomeIcon slot="before" />
      <span>Home</span>
    </Button>
    <Button href="/credits" type="primary">
      <ClipboardIcon slot="before" />
      <span>Credits</span>
    </Button>
  </div>
  <div class="flex items-center justify-end">
    <Button
      href="https://github.com/joacod/whateverui"
      target="_blank"
      type="secondary"
    >
      <GithubIcon />
    </Button>
  </div>
</header>
