<aside
  class="sticky top-0 h-screen px-6 py-3 border-r border-opacity-40 min-w-fit bg-neutral border-neutral-focus text-neutral-content"
>
  <header
    class="flex items-center justify-center p-2 mb-10 border border-opacity-60 rounded-xl border-neutral-focus"
  >
    <img src="../../whateverui.png" width="40" height="40" />
    <h1 class="ml-3 text-lg font-extrabold font-display">Whatever UI</h1>
  </header>
  <nav class="space-y-8 text-sm">
    <div class="space-y-2">
      <h2 class="text-sm font-semibold uppercase">Design</h2>
      <ul class="flex flex-col space-y-1">
        <li><a href="/design/colors">Colors</a></li>
        <li><a href="/design/fonts">Fonts</a></li>
      </ul>
    </div>
    <div class="space-y-2">
      <h2 class="text-sm font-semibold uppercase">Components</h2>
      <ul class="flex flex-col space-y-1">
        <li><a href="/components/badge">Badge</a></li>
        <li><a href="/components/button">Button</a></li>
        <li><a href="/components/toggle">Toggle</a></li>
      </ul>
    </div>
  </nav>
</aside>
