<aside
  class="sticky top-0 h-screen p-6 min-w-fit bg-neutral text-neutral-content"
>
  <h1 class="h-20 text-xl font-bold">Whatever UI</h1>
  <nav class="space-y-8 text-sm">
    <div class="space-y-2">
      <h2 class="text-sm font-semibold uppercase">Design</h2>
      <ul class="flex flex-col space-y-1">
        <li><a href="/design/colors">Colors</a></li>
      </ul>
    </div>
    <div class="space-y-2">
      <h2 class="text-sm font-semibold uppercase">Components</h2>
      <ul class="flex flex-col space-y-1">
        <li><a href="/components/badge">Badge</a></li>
        <li><a href="/components/button">Button</a></li>
        <li><a href="/components/toggle">Toggle</a></li>
      </ul>
    </div>
  </nav>
</aside>
