---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components-ui/Button.astro";
import HomeIcon from "@/icons/Home.astro";
import PlusIcon from "@/icons/Plus.astro";
import Title from "@/components-ui/Title.astro";
---

<Layout title="Button">
  <Title>Button</Title>

  <section class="mt-5">
    <h2>Colors</h2>
    <div class="flex flex-col gap-2">
      <Button href="" type="primary">Click Me</Button>
      <Button href="" type="secondary">Click Me</Button>
      <Button href="" type="accent">Click Me</Button>
    </div>

    <h2>Sizes</h2>
    <div class="flex flex-col gap-2 p-3 rounded bg-neutral-content w-fit">
      <Button href="" size="xs">Click Me</Button>
      <Button href="" size="sm">Click Me</Button>
      <Button href="" size="base">Click Me</Button>
      <Button href="" size="lg">Click Me</Button>
      <Button href="" size="xl">Click Me</Button>
    </div>

    <h2>With Icon</h2>
    <div class="flex flex-col gap-2 p-3 rounded bg-neutral-content w-fit">
      <Button href="">
        <HomeIcon slot="before" />
        <span>Click Me</span>
      </Button>
      <Button href="">
        <PlusIcon slot="after" />
        <span>Click Me</span>
      </Button>
    </div>
  </section>
</Layout>
