---
import "../global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Sidebar from "@/components/Sidebar.astro";
import "@fontsource-variable/comfortaa";
import "@fontsource-variable/exo";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Whatever UI" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Whatever UI - Tailwind CSS Components</title>
    <ViewTransitions />
  </head>
  <body class="flex bg-neutral text-neutral-content font-body">
    <Sidebar />
    <div class="flex flex-col w-full">
      <Header />
      <main class="flex-1 px-10 py-8">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
